@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Surtiacrylicos

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #1b1464;
$tertiary_color: #ff0000;
$fourth_color: #0c0b33;
$background: #f0f0f0;
$border: #f0f0f0;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Open Sans', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	background-color: $secondary_color;
	border-top: 8px solid $tertiary_color;
	color: #fff;
	.moduletable_to1 {
		padding: 10px 0;
		p {
			margin: 10px 0 0 0;
			font: {
				size: 11px;
				style: italic;
				weight: bold;
			}
		}
	}
	.moduletable_to2 {
		p {
			margin: 0;
			&.img_1 {
				img {
					width: auto;
					height: 70px;
				}
			}
			&.text_1 {
				margin-top: 10px;
				font-size: 16px;
			}
			&.text_2 {
				font-size: 28px;
			}
			&.text_3 {
				font-size: 12px;
				a {
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		a {
			color: #fff;
		}
		.icons {
			a {
				margin: 0 2px 10px 2px;
				padding: 2px;
				background-color: $tertiary_color;
				display: inline-block;
			}
		}
	}
	.moduletable_to3 {
		margin-top: 10px;
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				ul.menu {
					background: {
						image: url(moduletable_to3_menu_bg.png);
						repeat: repeat-x;
					}
					li {
						border-right: 1px solid #fff;
						&:last-child {
							border-right: none;
						}
						&.current-menu-item {
							a {
								background-color: #fff;
								color: $tertiary_color;
							}
						}
						&.menu-item-13 {
							a {
								background: {
									image: url(home.png);
									position: center;
									repeat: no-repeat;
								}
								font-size: 0;
								color: transparent;
								line-height: 14px;
								&:hover {
									background-image: url(home_active.png);
									color: transparent;
								}
							}
						}
						&.menu-item-13.current-menu-item {
							a {
								background-image: url(home_active.png);
							}
						}
						a {
							padding: 15px 20px;
							font-size: 14px;
							color: #fff;
							text-transform: uppercase;
							&:hover {
								background-color: #fff;
								color: $tertiary_color;
							}
						}
					}
				}
			}
		}
	}
	.moduletable_s1 {
		width: 0;
		padding: 5px;
		margin-left: 480px;
		background: {
			image: url(moduletable_to3_menu_bg.png);
			repeat: repeat-x;
		}
		position: absolute;
		z-index: 1000;
		display: none;
		opacity: 0;
		label.screen-reader-text {
			display: none;
		}
		input[type=search] {
			width: 200px;
			height: inherit;
			margin: 0;
			padding: 5px;
			background-color: #fff;
			border: 0;
			border-radius: 0;
			font-size: 14px;
			float: left;
			position: relative;
		}
		input[type=submit] {
			width: 30px;
			height: 31px;
			background: {
				color: #fff;
				image: url(moduletable_s1_submit_bg.png);
				position: center;
				repeat: no-repeat;
			}
			border: 0;
			border-radius: 0;
			color: transparent;
		}
	}
}

/* Content */

.content {
	background: {
		image: url(content_bg.png);
		position: top;
		repeat: repeat-x;
	}
	.row {
		background-color: #fff;
		.main,
		.woocommerce {
			padding: 10px 0;
			h1,
			h2 {
				font: {
					size: 18px;
					weight: bold;
				}
				color: $secondary_color;
			}
			h3 {
				margin: 0;
				margin-bottom: 10px;
				padding: 10px 0;
				background-color: $secondary_color;
				font-size: 14px;
				color: #fff;
			}
			strong {
				color: $secondary_color;
			}
			a {
				&.add-request-quote-button {
					background-color: $secondary_color;
					color: #fff;
				}
			}
			ul {
				&.accordion {
					li.accordion-item {
						a.accordion-title {
							padding: 5px;
							border: none;
							font-size: 14px;
							color: $secondary_color;
							text-transform: uppercase;
						}
						.accordion-content {
							padding: 10px;
							border: none;
							p {
								margin: 0;
							}
						}
					}
				}
			}
			.asterisk {
				color: red;
			}
			.border {
				border: 1px solid $border;
			}
			.button {
				background-color: $secondary_color;
				color: #fff;
			}
		}
		.social_media {}
		.client {
			padding: 10px 0;
			h3 {
				margin: 0;
				margin-bottom: 10px;
				padding: 10px 0;
				background-color: $secondary_color;
				font-size: 14px;
				color: #fff;
			}
		}
	}
	.moduletable_le1 {
		h3 {
			margin: 0;
			padding: 10px 0;
			background-color: $secondary_color;
			-webkit-border-radius: 10px 10px 0 0;
			border-radius: 10px 10px 0 0;
			font-size: 16px;
			color: #fff;
			text-transform: uppercase;
		}
		ul.menu {
			border: 1px solid $border;
			li {
				&:nth-child(1) {
					background: url(moduletable_le1_li_01.png) no-repeat 7px 10px;
				}
				&:nth-child(2) {
					background: url(moduletable_le1_li_02.png) no-repeat 7px 10px;
				}
				&:nth-child(3) {
					background: url(moduletable_le1_li_03.png) no-repeat 7px 10px;
				}
				&:nth-child(4) {
					background: url(moduletable_le1_li_04.png) no-repeat 7px 10px;
				}
				&:nth-child(5) {
					background: url(moduletable_le1_li_05.png) no-repeat 7px 10px;
				}
				&:nth-child(6) {
					background: url(moduletable_le1_li_06.png) no-repeat 7px 10px;
				}
				&:nth-child(7) {
					background: url(moduletable_le1_li_07.png) no-repeat 7px 10px;
				}
				&:nth-child(8) {
					background: url(moduletable_le1_li_08.png) no-repeat 7px 10px;
				}
				&:nth-child(9) {
					background: url(moduletable_le1_li_09.png) no-repeat 7px 10px;
				}
				&:nth-child(10) {
					background: url(moduletable_le1_li_10.png) no-repeat 7px 10px;
				}
				&:nth-child(11) {
					background: url(moduletable_le1_li_11.png) no-repeat 7px 10px;
				}
				&:nth-child(12) {
					background: url(moduletable_le1_li_12.png) no-repeat 7px 10px;
				}
				&:nth-child(13) {
					background: url(moduletable_le1_li_13.png) no-repeat 7px 10px;
				}
				&:nth-child(14) {
					background: url(moduletable_le1_li_14.png) no-repeat 7px 10px;
				}
				&:nth-child(15) {
					background: url(moduletable_le1_li_15.png) no-repeat 7px 10px;
				}
				&:nth-child(16) {
					background: url(moduletable_le1_li_16.png) no-repeat 7px 10px;
				}
				&:nth-child(17) {
					background: url(moduletable_le1_li_17.png) no-repeat 7px 10px;
				}
				&:nth-child(18) {
					background: url(moduletable_le1_li_18.png) no-repeat 7px 10px;
				}
				&:nth-child(19) {
					background: url(moduletable_le1_li_19.png) no-repeat 7px 10px;
				}
				&:nth-child(20) {
					background: url(moduletable_le1_li_20.png) no-repeat 7px 10px;
				}
				&:nth-child(21) {
					background: url(moduletable_le1_li_21.png) no-repeat 7px 10px;
				}
				&:nth-child(22) {
					background: url(moduletable_le1_li_22.png) no-repeat 7px 10px;
				}
				&:nth-child(odd) {
					a {
						background: url(moduletable_le1_a_bg.png);
					}
				}
				&.current-menu-item {
					a {
						background: url(moduletable_le1_a_hover.png) no-repeat 7px 10px $secondary_color;
						color: #fff;
					}
				}
				a {
					padding: 8px 20px;
					white-space: normal;
					&:hover {
						background: url(moduletable_le1_a_hover.png) no-repeat 7px 10px $secondary_color;
						color: #fff;
					}
				}
			}
		}
	}
	.space {
		padding: 15px 0;
	}
	button {
		&.button.side {
			margin: 10px 0;
			background-color: $secondary_color;
		}
	}
}

/* Info Bottom */

.info_bottom {
	padding: 20px 0;
	.moduletable_ib1 {
		p {
			margin: 0;
			font-size: 18px;
			color: $secondary_color;
		}
	}
}

/* Bottom */

.bottom {
	padding-top: 10px;
	background-color: $fourth_color;
	.moduletable_bo1 {
		p {
			margin: 0;
			font-size: 14px;
			color: #fff;
			a {
				color: #fff;
			}
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 10px;
	background-color: $fourth_color;
	font-size: 14px;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Top */

	.top {
		.moduletable_to2 {
			p {
				&.img_1 {
					img {
						height: 40px;
					}
				}
				&.text_2 {
					font-size: 20px;
				}
				&.text_3 {
					text-align: center;
				}
			}
			.icons {
				text-align: center;
				a {
					margin-top: 10px;
				}
			}
		}
		.moduletable_to3 {
			margin: 10px 0;
			.top-bar {
				.top-bar-title {
					width: 100%;
					margin: 0;
					text-align: center;
					button {
						&:after {
							background: #fff;
							box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
						}
					}
				}
				#responsive-menu {
					width: 100%;
					ul.menu {
						background-color: $tertiary_color;
						li {
							width: 100%;
							background: none;
							border: none;
							a {
								padding-top: 15px;
								text-align: center;
								display: block;
							}
						}
					}
				}
			}
		}
		.moduletable_s1 {
			margin-left: 90px;
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {

	/* Top */

	.top {
		.moduletable_to3 {
			.top-bar {
				#responsive-menu {
					ul.menu {
						li {
							&.menu-item-695 {
								display: none;
							}
						}
					}
				}
			}
		}
	}

}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}